:root{
    --primary-text-color: #212121;
--paragraph-color: #757575;
--link-color:  #2196F3;
--background-color: rgba(33, 150, 243, 0.9);
--button-color: ##FFFFFF;
--background-sheet-color: #FFFFFF;
--footer-color:#2F303A;
--footer-contacts-color: rgba(255, 255, 255, 0.6);
--footer-adress-color:#FFFFFF;
--goit-color:rgba(255, 255, 255, 0.4);
}


body{
    background-color: var(--background-sheet-color);
    color: var(--paragraph-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

/* Навигация по странице  */

.text-nav a{
    color: var(--primary-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.accent:hover,
.accent:focus{
    color: var(--link-color);
}
 
 
 /* Контакты в шапке */

.text-contacts a{
    color: var(--paragraph-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

/* Основные стили страницы */

a {
  text-decoration: none;
}
ul{
    list-style: none;
}

/* Невидимые элементы */

.invisible{
    color: rgba(0, 0, 0, 0);
}

/* Кнопки страницы */

button{
    font-family: inherit;
    font-size: 16px;
}

/* Активные кнопки */


.accent-box{
font-weight: 700;
font-size: 16px;
line-height: 1.87;
text-align: center;
letter-spacing: 0.06em;
}

.accent-box:hover,
.accent-box:focus{
    background-color: var(--background-color);
    color: var(--footer-adress-color);
}

.box-nav button{
font-weight: 500;
line-height: 1.62;
}

/* Заголовки */

.main-header{

font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}


/* Заголовки меньшие */

.little-title{
    color: var(--primary-text-color);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}

/* Чем занимаемся */

.task{
    color: var(--primary-text-color);
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
}

.link a{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}


/* команда */

.title h3{    
    color: var(--primary-text-color);
font-weight: 500;
font-size: 16px;
line-height: 1.18;
}

.title p{
font-size: 16px;
line-height: 1.18;
}


.features p{
font-size: 14px;
line-height: 1.71;
}

/*Адресс и контакты */

.finish{
    background-color: var(--footer-color);
}

.adress-title{
    color: var(--footer-adress-color);
font-size: 14px;
line-height: 1.71;
}

.contacts a{
   color: var(--footer-contacts-color);
font-size: 14px;
line-height: 1.71;
}

.lets-go{
    color: var(--footer-adress-color);
  font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}

/* Автор и год */

.go-it{
    color: var(--goit-color);
font-size: 12px;
line-height: 2;
text-align: center;
}


/* Наши проэкты */

.projects{
    color: var(--primary-text-color);
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

.view{
    color: var(--paragraph-color);
font-size: 16px;
line-height: 1.87;
}

.about{
    color: var(--primary-text-color);
   font-size: 18px;
line-height: 1.55;
}